html {
  direction: rtl;
  font-family: Lucida Grande, sans-serif;
  margin-top: 10px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
  font-size: 14px;
}

@media (max-width: 600px) {
  form {
    width: 100vw;
  }
}

form > div {
  margin-top: 20px;
}

.radio-button {
  margin-top: 7px;
}

.radio-button label {
  cursor: pointer;
  margin-inline-start: 3px;
}

.price {
  font-weight: bold;
}

.fadiha-promise, .fadiha-gain {
  font-weight: bold;
}

.families-label {
  display: flex;
  gap: 10px;
}

.families-note {
  margin-top: 6px;
}

.fadiha-cost, .fadiha-gain {
  margin-block-start: 10px;
}

.footer {
  font-weight: bold;
}

.submit-section {
  text-align: center;
}

.submit-section button {
  padding: 9px 15px;
  font-size: 14px;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled) {
    cursor: pointer;
    border: 1px solid #0d4aab;
    box-shadow: inset 0 1px 0 0 #97c4fe;
    text-shadow: -1px -1px 0 #003ea1;
    color: white;
    background: linear-gradient(to top, #54a2f9 0%, #2e7be3 100%);
  }
}

.families-selection {
  display: grid;
  margin-block-start: 8px;
  grid-template-columns: repeat(auto-fit, minmax(min(100% / 2, max(160px, 100% / 12)), 1fr));

  & + div {
    margin-block-start: 10px;
  }

  & input {
    display: none;
  }

  & > span {
    margin: 10px 0;
  }

  & input:checked + label span {
    background-color: lightgreen;
  }

  & label span {
    padding: 6px 5px;
    border: 1px solid #000;
    border-radius: 6px;
    box-shadow: inset 0 0 1px 1px darkgray;
    margin-inline-end: 5px;
    white-space: nowrap;
    cursor: pointer;

    &.previously-selected {
      background-color: #E0ee2020;
      border-style: dashed;
    }
  }

  &:empty:before {
    content: 'לא נמצאו משפחות שמתאימות לחיפוש.';
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
}

.end-message {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}


#banner {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: 8px;
}

#families-counter {
  background-color: #cff;
  border: 1px solid #ced4da;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;

  & > a {
    position: absolute;
    left: 15px;
  }
}

#families-not-found {
  margin-block: 10px;
  padding: 10px;
  background-color: #ffc;
  border: 1px solid #ced4da;

  .not-found {
    font-weight: bold;
  }
}

#families-search {
  background-color: #ffc;
  border: 1px solid #ced4da;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 10px 10px 30px;
  gap: 10px;

  & > span {
    display: flex;
    align-items: center;
    width: 100%;
  }

  & > span > input {
    width: 100%;
  }
}
